{% extends "base.html" %}
{% block content %}
<h1>My Files</h1>

{% if session['role'] == 'admin' %}
<a href="{{ url_for('auth.create_admin') }}" class="link">Create New Admin</a>
<br>
{% endif %}

<a href="{{ url_for('upload.upload_file') }}" class="link">Upload File</a>
<ul>
    {% for file in files %}
    <li>
        <a href="{{ url_for('files.view_file', token=generate_file_token(file.DocumentID)) }}" target="_blank">
            {{ file.FilePath }}
        </a> (Access: {{ file.AccessLevel }})
    </li>
    {% endfor %}
</ul>
<a href="/logout" class="link">Logout</a>
{% endblock %}
